App/*.iml
App/.kotlin
App/.gradle
**/build/
App/xcuserdata
!src/**/build/
App/local.properties
**/*.idea
App/.DS_Store
App/captures
App/.externalNativeBuild
App/.cxx
App/*.xcodeproj/*
App/!*.xcodeproj/project.pbxproj
App/!*.xcodeproj/xcshareddata/
App/!*.xcodeproj/project.xcworkspace/
App/!*.xcworkspace/contents.xcworkspacedata
App/**/xcshareddata/WorkspaceSettings.xcsettings
**/node_modules/
